<!DOCTYPE html> 
<html lang="zh-CN"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>n2Mvc Demo</title> 
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" media="screen" /> 
	 
	<script type="text/javascript" src="/assets/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
</head> 
<body> 
	<div id="pageloading">正在加载...</div> 
	<div id="container"> 
		<div id="content">
		
